const { newSocketConnected } = require('./newSocket.js');
const { newMessage } = require('./newMessage.js');
const { onDisconnect } = require('./onDisconnect.js');

module.exports = {
  newSocketConnected,
  newMessage,
  onDisconnect,
};
