{{#database.MongoDB}}
const Message = require('../models/message.models');

exports.getMessages = () => Message.find();
{{/database.MongoDB}}
{{#database.PostgreSQL}}
const db = require('../models');

exports.getMessages = () => db.Message.findAll();
{{/database.PostgreSQL}}