{{#database.MongoDB}}
const Message = require('../models/message.models');

exports.postMessage = (socketId, message) => Message.create({ socketId, message });
{{/database.MongoDB}}
{{#database.PostgreSQL}}
const db = require('../models');

exports.postMessage = (socketId, message) => db.Message.create({ socketId, message });
{{/database.PostgreSQL}}