{{#database.MongoDB}}
const mongoose = require('./index.js');

const { Schema } = mongoose;

const messageSchema = new Schema({
  socketId: { type: String, required: true },
  message: { type: String, required: true },
}, {
  versionKey: false,
});

const Message = mongoose.model('message', messageSchema);

module.exports = Message;
{{/database.MongoDB}}
{{#database.PostgreSQL}}
module.exports = (sequelize, DataTypes) => sequelize.define('Message', {
  socketId: {
    type: DataTypes.STRING,
    allowNull: false,
  },
  message: {
    type: DataTypes.TEXT,
    allowNull: false,
  },
},
{
  timestamps: false,
  // timestamps are automatically created
  // remove this option if you would like to have them
});
{{/database.PostgreSQL}}